In [0]:
import requests
import lxml.html
import pandas as pd

In [0]:

staff_details= pd.DataFrame(columns=["Name","Role","Areas"])
areas=tree.xpath('//div[@class="text"]//p[position()=1]')
for i in range(len(areas)):
  areas=tree.xpath('//div[@class="text"]//p[position()=1]')[i]
  div_elem=tree.xpath('//div//h4')[i]
  areas=areas.text_content()[6:]
  name_role=div_elem.text_content().split(',')
  name=name_role[0]
  role=','.join(name_role[1:])
  role=role.split('\n')[0]
  name.strip()
  areas=areas.split('\n')[0]
  staff_details.loc[i]=[name,role,areas]

In [0]:
staff_details.head()

                   Name  ...                                              Areas
0           Yagiz Aksoy  ...  Computational photography, computer graphics, ...
1             Brad Bart  ...                                        Instruction
2           Angel Chang  ...  Natural Language Processing, Artificial Intell...
3   SHEELAGH CARPENDALE  ...                          Information Visualization
4  LEONID CHINDELEVITCH  ...                              Computational Biology

[5 rows x 3 columns]

In [0]:
staff_details.shape

(64, 3)